* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }


image {
    font: inherit;
    width: 2px;
    height: 2px;
    background-color: #8d8d8d;
}
body{
    font-family: Raleway, Helvetica, sans-serif;
}

.banner-container{
     background-color: #06023d;
}
.banner-column{
    background-color: #06023d;
}
.console.log{
    height: 2px;
    width: 2px;
}

.navbar-container{
    top: 0;
    background-color: black;
    position: sticky;
    z-index: 2;
}
.about-container{
    background-color: #8571cd;
    color: white;
    text-align: justify;
    padding: 10px 0 10px 0;
}


.education-container{
    background-color: #EEEEEE;
}

.bg-redtype{
    background-color: #BA006E;
}
.redtype-color{
    color:#BA006E;
}
.skills-container{
    background-color: #EEEEEE;
}

.project-container{
    background-color: #cacaca;
}
.projects{
    padding: 10px 0 10px 0; 
    text-align: center;;
}

.portfolio-container{
    background-color: #EEEEEE;
}

.form-container{
    background-color: #474d5d;
}

.inner-form{
    background-color: #585f73;

}
.footer {
    background-color: #2bb3dd;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2bb3dd;
}

.circle:hover{
    background-color: #474d5d;
}